.navBar {
    margin: 0;
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-between;
}

.navBar__itens{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navBar__item{
    /* width: fit-content; */
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--border-color); */
    font-weight: 700;
    transition: all ease-in 250ms;
    box-shadow: inset 0 0 0 0.09px transparent; /* evita que a box-shadow fique flicando */
    padding: 0 0.5rem;
}

.navBar__item p {
    color: var(--nav-font-color);
}

.navBar__item:hover {
    box-shadow: inset 6rem 0 0 var(--highlight-color);
    transition: all ease-in 250ms;
    cursor: pointer;
}

.navBar__item:hover p {
    color: var(--contrast-hover-color);
    transition: all ease-in 250ms;
}